*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(6cc099776c601f985b73b15a338d393e.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:50vw;
    height: fit-content;
    border: 3px solid black;
    border-radius: 11px;
    background-color: antiquewhite;
    padding: 15px;
    box-sizing: border-box; 
}
h1{
    text-align: center; 
    font-family: 'Noto Sans TC', sans-serif;
}
.form-container{
    width: 100%;
    display: flex;
    margin:30px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.usr,
.password{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;    
}
input{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid gray;
}
label{
    font-family: 'Pacifico', cursive;
    width: fit-content;

}
button{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(199, 189, 189);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
p{
    text-align: center;
    margin-bottom: 10px;    
}

@media screen and (max-width:480px) {
    .container{
        width: 90vw !important;
    }
}