<html>
<head><title>"DATA!!"</title></head>
<body>
<h2>CREATE YOUR ACCOUNT</h2>
<form action ="/add2db" enctype="multipart/form-data" method = "post">
<p>Enter Your Name</p>
<p><input type = "text" name ="name"/</p>
<p>Enter Your Email Id</p>
<p><input type = "text" name ="eid"/</p>
<p>Enter Your Phone Number</p>
<p><input type = "text" name ="ph"/</p>
<p>Enter Your Class</p>
<p><input type = "text" name ="class"/</p>
<p>Enter Your Addmission No.</p>
<p><input type = "text" name ="adno"/</p>
<p>
<input type = "file" name="pic1"/>
<input type = "file" name="pic2"/></p>
<p><input type = "file" name="pic3"/>
<input type = "file" name="pic4"/></p>
<p><input type = "file" name="pic5"/>
<input type = "file" name="pic6"/>
</p>

<p><input type = "submit"/</p>
</form>
</body>
</html>